@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}

.bg{
    background-image: url('./assets/blog5-q8o1osg0asw8rtd2tujbhqcqujlkcw4nkr390k4bjk.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.design{
    border: 1px solid #0DBC95;
}


.professional-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .professional-table th, .professional-table td {
    padding: 10px;
    
    /* border: 1px solid #22C55E; */
  }
  
  .professional-table th {
    background-color: #f2f2f2;
    font-weight: bold;
   
  }
  
  .professional-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .professional-table tbody tr:hover {
    background-color: #e6e6e6;
  }
  
  .br{
    border: 1px solid gray;
  }



  .jobs:hover{
    border: 1px solid #0DBC95;
  }